<nav class="navigation">
  <p class="nav-item">
    {{#link-to 'index'}}<i class="fa fa-camera-retro"></i>Home{{/link-to}}</p>
  <p class="nav-item">
    {{#link-to 'work'}}<i class="fa fa-camera-retro"></i>Work{{/link-to}}</p>
  <p class="nav-item">
    {{#link-to 'contact'}}<i class="fa fa-user-circle"></i>Contact{{/link-to}}</p>
</nav>
