<nav class="navigation">
  <p class="nav-item">{{#link-to 'index'}}Home{{/link-to}}</p>
  <p class="nav-item">{{#link-to 'work'}}Work{{/link-to}}</p>
  <p class="nav-item">{{#link-to 'contact'}}Contact{{/link-to}}</p>
</nav>
