<nav class="navigation">
  {{#link-to 'index'}}
    <p class="nav-item"><i class="fa fa-camera-retro"></i></p>
    <p>Broadcast</p>
  {{/link-to}}
  {{#link-to 'work.tv'}}
    <p class="nav-item"><i class="fa fa-camera-retro"></i></p>
    <p>Written</p>
  {{/link-to}}
  {{#link-to 'index'}}
    <p class="nav-item"><i class="fa fa-camera-retro"></i></p>
    <p>Creative</p>
  {{/link-to}}
</nav>
