.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100vh;
  background: $brand-white;
  font-family: 'VT323', monospace;
}

.panel-title {
  font-size: 5em;
  margin: 0;
  padding-top: 10px;
}

.panel-graph {
  font-size: 1.5em;
  width: 70%;
}

.thumbnail {
  display: inline-block;;
  flex-direction: row;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 10px;
}

.thumbnail img {
  display: block;
  margin-bottom: 5px;
}

.large-thumb {
  width: 200px;
}

.small-thumb {
  width: 75px;
}

.large-photo {
  width: 600px;
}
