.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 100%;
  background: $brand-white;
}

.thumbnail {
  display: inline-block;;
  flex-direction: row;
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  font-size: 10px;
}

.thumbnail img {
  display: block;
  margin-bottom: 5px;
}

.large-thumb {
  width: 200px;
}

.small-thumb {
  width: 100px;
}

.large-photo {
  width: 600px;
}
