<form action="" class="contact-form">
    <input type="text" class="contact-input" name="Name" placeholder="Name">
    <input type="text" class="contact-input" name="Email" placeholder="Email">
    <input type="text" class="contact-input" name="Phone" placeholder="Phone">
    <textarea name="description" id="" cols="30" rows="5" class="contact-input contact-text" placeholder="What's Up?"></textarea>
    <button class="contact-submit">Send</button>
  </form>
