<div class="main">
  <div class="side left">
    <h1 class="heading">David Cawton</h1>
    <h2 class="sub-heading">Media Professional</h2>
    {{navigation-links}}
  </div>
  <div class="side right">
    <h1 class="heading">Right Side</h1>
    <h2 class="sub-heading">Right Side Sub</h2>
    {{outlet}}
  </div>
</div>
<footer class="footer">
  {{navigation-links}}
</footer>
