<div class="main">
  <div class="left">
    <h1 class="heading">David Cawton</h1>
    <h2 class="sub-heading">Media Professional</h2>
  </div>
  <div class="right">
    {{outlet}}
  </div>
</div>
<footer class="footer">
  {{navigation-links}}
</footer>
