<div class="main">
  <div class="side left">
    <h1 class="heading">DAVID CAWTON</h1>
    {{navigation-links}}
  </div>
  <div class="side right">
    {{outlet}}
  </div>
</div>
<footer class="footer">
  <p class="footer-graph">Copyright (c) 2016 Copyright Teal Tung All Rights Reserved.</p>
</footer>
