<div class="panel contact">
  <h1 class="panel-title">Contact</h1>
  <div class="contact-info">
    <p class="contact-graph">
      Workspace Portfolio
    </p>
    <p class="contact-graph">
      555 FAKE ST
      JACKSONVILLE, FL
      32250
    </p>
    <p class="contact-graph">
      (555) 555.5555
    </p>
    <p class="contact-graph">
      email@email.com
    </p>

    {{#link-to 'contact.find'}}
    <p class="contact-graph">Contact us</p>
    {{/link-to}}


  </div>
  {{outlet}}
</div>
